* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #09090a;
  color: white;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
}

button {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #8b5cf6;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  gap: 12px;
}
input {
  appearance: none;
  width: 64px;
  height: 64px;
  border: 2px solid #27272a;
  border-radius: 8px;
  -webkit-appearance: none;
}

/* A grid é para componentes de fora
o flex é para alinhar os item que estao dentro da mesma caixa */
